<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>

   <!-- MAIN TOOLBAR ACTION  -->
   <!-- see 
        http://www.eclipse.org/articles/article.php?file=Article-action-contribution/index.html 
        Example 7: Adding an action set
	-->
	<extension point="org.eclipse.ui.actionSets" >
		<actionSet
			id="org.eclipse.ui.articles.action.contribution.set"
			label="Telosys"
			visible="true">
			<action
				id="org.eclipse.ui.articles.action.contribution.set.action1" 
				label="Telosys configuration" 
				icon="icons/telosys_folder.png"
				tooltip="Telosys configuration"
				toolbarPath="Normal/additions"
				class="org.telosys.tools.eclipse.plugin.toolbar.ActionOpenProperties"> 
			</action> 
			<!--
			<action
				id="org.eclipse.ui.articles.action.contribution.set.action2" 
				label="Set Action 2" 
				icon="icons/key1.gif"
				tooltip="Tooltip for Set Action 2"
				toolbarPath="Normal/additions"
				style="pulldown"
				class="org.eclipse.ui.articles.action.contribution.SetAction2Delegate">
			</action> 
			-->
		</actionSet>    
	</extension>

   <!-- WIZARDS ver 3.0.0  -->
   <extension point="org.eclipse.ui.newWizards" >
      <category 
         id="TelosysToolsWizard"
         name="Telosys">
      </category>
      <wizard
         category="TelosysToolsWizard"
         class="org.telosys.tools.eclipse.plugin.wizards.dslmodel.NewDslModelWizard"
         id   ="org.telosys.tools.eclipse.plugin.wizards.dslmodel.NewDslModelWizard"
         icon ="./icons/model_16pix.png"
         name="Telosys DSL Model" >
         <selection
            class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   
   <extension  point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension  targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut  id="org.telosys.tools.eclipse.plugin.wizards.dslmodel.NewDslModelWizard" />
      </perspectiveExtension>
   </extension>
   <extension  point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension  targetID="org.eclipse.ui.resourcePerspective">
         <newWizardShortcut  id="org.telosys.tools.eclipse.plugin.wizards.dslmodel.NewDslModelWizard" />
      </perspectiveExtension>
   </extension>

  <!-- PROPERTY PAGES -->
   <extension
         id="org.telosys.tools.eclipse.plugin.properties.PropertiesPage"
         name="Telosys Tools properties"
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.telosys.tools.eclipse.plugin.config.view.PropertiesPage"
            name="Telosys Tools"
            icon="icons/telosys_folder.png"
            id="org.telosys.tools.eclipse.plugin.config.view.PropertiesPage"
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            />
   </extension>

  <!-- EDITORS -->
  <!-- Removed to fix file icon bug 
         id="org.telosys.tools.eclipse.plugin.editors.dbrep.RepositoryEditor"
         name="Repository"
  -->
  <extension
         point="org.eclipse.ui.editors">
      <editor
            id=   "org.telosys.tools.eclipse.plugin.editors.dbrep.RepositoryEditor"
            class="org.telosys.tools.eclipse.plugin.editors.dbrep.RepositoryEditor"
            icon="icons/dbrep4_16.png"
            default="true"
            name="Telosys Tools database model editor"
            extensions="dbmodel,dbrep"/>
      <editor
            id=   "org.telosys.tools.eclipse.plugin.editors.dsl.model.ModelEditor"
            class="org.telosys.tools.eclipse.plugin.editors.dsl.model.ModelEditor"
            icon="icons/model_16pix.png"
            default="true"
            name="Telosys Tools model editor"
            extensions="model"/>
      <editor
            id="org.telosys.tools.eclipse.plugin.editors.dbconfig.DbConfigEditor"
            class="org.telosys.tools.eclipse.plugin.editors.dbconfig.DbConfigEditor"
            icon="icons/dbcfg16.png"
            default="true"
            name="Telosys Tools Dbconfig editor"
            extensions="dbcfg"/>
      <editor
            name="Telosys Velocity Template Editor"
            extensions="vm"
      		icon="icons/velocity_file.png"
      		   id="org.telosys.tools.eclipse.plugin.editors.velocity.VelocityEditor"
      		class="org.telosys.tools.eclipse.plugin.editors.velocity.VelocityEditor"
      		default="true"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" 
            />
      <editor
            name="Telosys DSL Entity Editor"
            extensions="entity"
            icon="icons/entity_16pix.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.telosys.tools.eclipse.plugin.editors.dsl.entityeditor.EntityEditor"
               id="org.telosys.tools.eclipse.plugin.editors.dsl.entityEditor.EntityEditor" 
            />
      
   </extension>
   
	<!-- MARKERS -->
	<!-- <persistent value="true"/> : Keep file markers when closing Eclipse -->
	<!--
	<extension point="org.eclipse.core.resources.markers" id="com.ibm.mymarkers.mymarker" name="My Marker">
		<super type="org.eclipse.core.resources.marker"/>
		<persistent value="true"/>
		<attribute  name="description"/>
	</extension>
	-->
	
	<!-- DECORATORS -->
				<!-- lightweight="true" -->
	<!--
	<extension point="org.eclipse.ui.decorators">  
		<decorator   
				id="org.telosys.tools.eclipse.plugin.wkschanges.deco.filedecorator"   
				label="File Decorator"   
				state="true"   
				class="org.telosys.tools.eclipse.plugin.wkschanges.deco.FileDecorator"  
				objectClass="org.eclipse.core.resources.IResource"
				
				adaptable="true"   
				
				>   
		</decorator>
	</extension>
	-->
   
   <extension point="org.eclipse.ui.decorators">
	  <decorator id="org.telosys.tools.eclipse.plugin.decorator.folderdecorator" 
			label="Decorator for Telosys Tools folder" 
			state="true" 
			class="org.telosys.tools.eclipse.plugin.decorator.FolderDecorator"  
			objectClass="org.eclipse.core.resources.IFolder" 
			adaptable="true">
			<description>
				Decorator for folder used by Telosys Tools generator plug-in
			</description>
		</decorator>
   </extension>

  <!-- CONTENT TYPES (BETA - added in ver 3.3.0 to set UTF-8 encoding by default ) -->
    <extension point="org.eclipse.core.contenttype.contentTypes">
    <!-- for a single file extension 
        <content-type  base-type="org.eclipse.core.runtime.text"
          file-extensions="vm" name="Telosys template" id="org.telosys.contenttype.vm"
          default-charset="UTF-8"
          priority="high">
        </content-type>
    -->
        <content-type  base-type="org.eclipse.core.runtime.text"
          name="Telosys files" id="org.telosys.contenttype"
          file-extensions="vm,entity,model" 
          file-names="templates.cfg" 
          default-charset="UTF-8"
          priority="high">
        </content-type>
        
    </extension>
   
</plugin>
